footer {
    margin-left: 0 !important;
}
body{
  background: #fff;
}
.container{
  width: 1170px;
  padding:0 15px;
  margin:0 auto;
  max-width: 100%;
}

.page_contents{
  background: #F9F9F9;
  padding: 15px;
}
.doctor_profile_widget .widget_tally span{
  text-align: left;
}
.doctor_profile_widget .name {
    text-align: left;
    margin: 17px 0;
}
.doctor_profile_widget p{
  text-align: left;
}
.doctor_profile_widget .pro_img{
  display: block;
  margin-top: -10px;
  margin-left:-17px;
  margin-right:-17px;
  height: 150px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.doctor_profile_widget .pro_img img{
  width: 100%;
}
.text-left{
  text-align: left;
}
.rs_main_header{
}
.front_main_menu{
  background: #2196F3;

}
.front_main_menu ul{}
.front_main_menu ul li{}
.front_main_menu ul li a{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  transition: all .5s;
  border-radius: 0;
}
.front_main_menu ul li a.active,
.front_main_menu ul li a:hover{
  background: #0176d3;
}
.rs_single_schedule.bg-red .btn_schedule_select_btn{
  display: none;
}
.rs_single_schedule.bg-red .btn_checked{
  display: inline-block !important;
}